n8n-customer-messaging-automation-workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "24fa6060-d0ec-4c7d-a4fe-806072e67b9a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "a79fc3fa-2c97-4e2a-b0ad-d5b9c18796e1",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06ae3300-de72-487e-b196-5ddd67591cd0",
              "name": "customer_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b844ef66-f71c-41aa-9bf1-5eb933235060",
              "name": "customer_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "912086ad-a6fe-4c26-bfbc-cd030fc81e1c",
              "name": "customer_message",
              "value": "={{ $json.notes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "5e3c47aa-7697-4bab-bda6-477c8770bbd6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "customerId": "={{ $json.customer_id }}",
        "message": "=Hi  {{ $json.customer_name }} , {{ $json.customer_message }}"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerMessenger",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "c14107dc-3288-4e16-a168-766d9c37abb4",
      "name": "Customer Messenger (n8n training)"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Customer Messenger (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}